.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}




.button{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn{
	border: 2px solid white;
	padding: 10px 30px;
	color: rgb(255, 255, 255);
	text-decoration: none;

}

.btn:hover{
	background-color: rgba(212, 217, 230, 0.452);
	color:rgb(0, 0, 0);
	transition: 0.6s ease;
}





