.container{
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: center;
}

.regbox{
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	max-width: 600px;
	background: rgba(11, 52, 88, 0.3);
	color: #fff;
	position: relative;
	box-sizing: border-box;
	padding: 70px 30px;
	align-items: center;
	border-radius: 20px;
	
}

h1{
	margin: 0;
	padding: 0 0 20px;
	align-items: flex-start;
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.regbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
		
.regbox input{
	width: 100%;
	margin-bottom: 20px;
	align-items: center;

}

.regbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	border-radius: 20px;
	text-align: center;
}

.regbox input[type="password"]:hover{
	border: 1px solid #fff;
}
.regbox input[type="text"]:hover{
	border: 1px solid #fff;
}



.regbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #b4d4eb;
	font-size: 18px;
	border-radius: 20px;
}

.regbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #fff;
	color: #000;
}

.regbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: rgb(155, 212, 229);
	display: flex;
	justify-content: space-around;
}


.regbox a:hover
{
	color: #ffc107;
}


  .regbox form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  form .user-details .input-box{
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
  }

  .user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	padding-left: 15px;
  }
  
  
  

